
@{
    ViewData["Title"] = "Contador Loja";
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card form-login mt-5">
                <div class="card-body">
                    <h5 class="card-title text-center text-roxo border-bottom pb-4">Seja Bem-vindo(a)</h5>
                    <img class="ml-3" width="220" height="120" alt="logo" src="~/images/logo.png" />
                    <form asp-action="Login" asp-controller="home" method="post">
                        <div class="form-group">
                            <input type="email" class="form-control mt-2" id="email" name="email" placeholder="Seu E-mail Aqui">
                            <input type="password" class="form-control mt-2" id="senha" name="senha" placeholder="Sua Senha Aqui">
                            <select class="form-control mt-2" id="tipo" name="tipo">
                                <option value="0" class="text-roxo">Tipo de usuario</option>
                                <option value="admin" class="text-roxo">Administrador</option>
                                <option value="vendedor" class="text-roxo">Vendedor</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-amarelo w-100 mt-2">Logar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


