
@{
    ViewData["Title"] = "Index-Admin";
    ViewBag.NomePagina = "Login";
}
<link rel="stylesheet" href="~/css/index-admin.css">

<div class="container mt-5">
    <div class="row mt-5">
        <div class="col-12">


            <div id="carouselExampleControls" class="carousel slide bg-light" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item  active">
                        <h2 class="text-roxo text-center mt-3">Mapa</h2>
                        <img src="~/images/icone-grafico.png" width="200" class="d-block mt-3 pt-3 pl-5 pb-5 mb-5 ml-4" alt="...">
                        <button class="btn baixao btn-amarelo text-roxo w-100" id="mapa-calor">Sua gestão na palma da mão.</button>
                    </div>
                    <div class="carousel-item h-100">
                        <h2 class="text-roxo text-center mt-3">Contador</h2>
                        <img src="~/images/icone-sacola.png" width="200" class="d-block mt-3 pt-3 pl-5 ml-4  pb-5 mb-5 " alt="...">
                        <button class="btn baixao btn-amarelo text-roxo w-100" id="contador">Quantas pessoas visitaram a loja.</button>
                    </div>
                    <div class="carousel-item h-100">
                        <h2 class="text-roxo text-center mt-3">Contador</h2>
                        <img src="~/images/icone-smile.png" width="200" class="d-block mt-3 pt-3  pl-5 ml-4 pb-5 mb-5 " alt="...">
                        <button class="btn baixao btn-amarelo text-roxo w-100" id="satisfacao">Seus clientes estão satisteitos?</button>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon  bg-warning rounded-circle p-1 rounded" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon bg-warning rounded-circle p-1 rounded" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

<script type="text/javascript">

    $(document).ready(function () {
       
        $('#contador').click(function () {
            window.location.href='@Url.Action("GetContador", "Home")';
        });

        $('#mapa-calor').click(function () {
            window.location.href='@Url.Action("GetCalor", "Home")';
        });

        $('#satisfacao').click(function () {
            window.location.href='@Url.Action("GetSatisfacao", "Home")';
        });

    });



</script>
